.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 80px; /* Same as top bar height */
    transition: 0.3s;
    z-index: 999;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}